extends layout

block content
  .page-header
    h2= title
    br

  .col-md-4

    form.form-horizontal(method='post', id='buyerform', onkeypress='return event.keyCode != 13;')
      input(type='hidden', name='_csrf', value=_csrf)
      input(type='hidden', name='_method', value=method)

      .row
        .board
          .board-inner

            ul#tabgroup1.nav.nav-tabs
              .liner
              li#buytab1.active
                a(href='#tabInformation', data-toggle='tab', title='Contract Address')
                  span.round-tabs.one
                    i.glyphicon.glyphicon-home
              li#buytab2
                a(href='#tabAdditional', data-toggle='tab', title='Additional Information')
                  span.round-tabs.two
                    i.glyphicon.glyphicon-plus

              li#buytab3(style='float:right;')
                button.btn.btn-primary(name='buyer_submit', type='submit')
                    i.fa.fa-hand-pointer-o
                    | Save Buyer Record

            .tab-content
              #tabInformation.tab-pane.fade.active.in
                .form-row.col-sm-12
                    br
                .form-row
                  .col-sm-12
                    label.lb-sm(for='buyer_clientIDs') Clients [search by first/last name or city]
                    input#buyer_clientIDs.flexdatalist(type='text', 
                                                      name='buyer_clientIDs',
                                                      placeholder="add...",
                                                      value=buyer.buyer_clientIDs,
                                                      multiple='true', 
                                                      data-data='/clients.json', 
                                                      data-search-in='["client_firstname","client_lastname", "client_city"]', 
                                                      data-visible-properties='["client_firstname", "client_lastname", "client_city"]', 
                                                      data-selection-required='true', 
                                                      data-value-property='_id', 
                                                      data-text-property='{client_firstname} {client_lastname} - {client_city}', 
                                                      data-min-length='2', 
                                                      data-remove-on-backspace='false',
                                                      data-focus-first-result='true')
                                                      //- style='width: 100%; border: 0px !important;'
                .form-row.col-sm-12
                    br
                .form-row
                  .col-sm-12
                    label.lb-sm(for='buyer_address') Address
                    input#buyer_address.form-control(name='buyer_address', type='text', required='required', placeholder='123 Sample Street, Unit B', value=buyer.buyer_address)
                .form-row
                  .col-sm-12
                    label.lb-sm(for='buyer_city') City
                    input#buyer_city.form-control(name='buyer_city', type='text', required='required', value=buyer.buyer_city)
                .form-row
                  .col-sm-8
                    label.lb-sm.control-label(for='buyer_state') State
                    select#buyer_state.selectpicker.form-control(name='buyer_state', type='select', required='required', title='Select', data-live-search='true', data-dropup-auto='false', data-size='3')
                      option(value='' selected=!buyer.buyer_state) Select
                       for state in states
                        option(value=state.option selected=state.option === buyer.buyer_state) #{state.value}
                  .col-sm-4
                    label.lb-sm(for='buyer_zip') ZIP Code
                    input#buyer_zip.form-control(name='buyer_zip', type='text', required='required', value=buyer.buyer_zip)
                .form-row.col-sm-12
                    br
                .form-row
                  .col-sm-6
                    label.lb-sm(for='buyer_contractdate') Contract Date
                    input#buyer_contractdate.form-control(name='buyer_contractdate', type='date', value=moment(buyer.buyer_contractdate).tz("UTC").format('YYYY-MM-DD'))

                  .col-sm-6
                    label.lb-sm(for='buyer_closingdate') Closing Date
                    input#buyer_closingdate.form-control(name='buyer_closingdate', type='date', value=moment(buyer.buyer_closingdate).tz("UTC").format('YYYY-MM-DD'))

                .form-row.col-sm-12
                    br
                .form-row
                  .col-sm-12
                    input(name='buyer_notifications', type="checkbox", checked=(buyer.buyer_notifications===true ? "checked" : undefined))
                    |  Send deadline notifications to me. (agent only)

              #tabAdditional.tab-pane.fade
                .form-row.col-sm-12
                    br
                .form-row
                  .col-sm-12
                    label.lb-sm(for='buyer_purchaseprice') Purchase Price
                    .input-group.mb-2.mr-sm-2.mb-sm-0
                      .input-group-addon $
                      input#buyer_purchaseprice.form-control.currency(name='buyer_purchaseprice', type='text', value=buyer.buyer_purchaseprice)
                .form-row
                  .col-sm-12
                    label.lb-sm(for='buyer_earnestprice') Earnest Money
                    .input-group.mb-2.mr-sm-2.mb-sm-0
                      .input-group-addon $
                      input#buyer_earnestprice.form-control.currency(name='buyer_earnestprice', type='text', value=buyer.buyer_earnestprice)
                .form-row
                  .col-sm-12
                    label.lb-sm(for='buyer_concession') Buyer Concession (seller?)
                    .input-group.mb-2.mr-sm-2.mb-sm-0
                      .input-group-addon $
                      input#buyer_concession.form-control.currency(name='buyer_concession', type='text', value=buyer.buyer_concession)
                .row
                  .col-sm-12
                    p &nbsp;

                .form-row
                  .col-sm-12
                    label.lb-sm(for='buyer_titlecompany') Title Company
                    select#buyer_titlecompany.selectpicker.form-control(name='buyer_titlecompany', type='select', required='required', title='Select', data-live-search='true', data-dropup-auto='false', data-size='3')
                      option(value='' selected=!buyer.buyer_titlecompany) Select
                       for titlecompany in titlecompanies
                        option(value=titlecompany.option selected=titlecompany.option === buyer.buyer_titlecompany) #{titlecompany.value}

                .form-row
                  .col-sm-12
                    label.lb-sm(for='buyer_mortgagelender') Mortgage Lender
                    select#buyer_mortgagelender.selectpicker.form-control(name='buyer_mortgagelender', type='select', required='required', title='Select', data-live-search='true', data-dropup-auto='false', data-size='3')
                      option(value='' selected=!buyer.buyer_mortgagelender) Select
                       for lender in mortgagelenders
                        option(value=lender.option selected=lender.option === buyer.buyer_mortgagelender) #{lender.value}

                .form-row
                  .col-sm-12
                    label.lb-sm(for='buyer_sellingagent') Selling Agent
                    select#buyer_sellingagent.selectpicker.form-control(name='buyer_sellingagent', type='select', required='required', title='Select', data-live-search='true', data-dropup-auto='false', data-size='3')
                      option(value='' selected=!buyer.buyer_sellingagent) Select
                       for agent in sellingagents
                        option(value=agent.option selected=agent.option === buyer.buyer_sellingagent) #{agent.value}

                .form-row
                  .col-sm-12
                    label.lb-sm(for='buyer_salestype') Sales Type
                    select#buyer_salestype.selectpicker.form-control(name='buyer_salestype', type='select', required='required', title='Select', data-live-search='true', data-dropup-auto='false', data-size='3')
                      option(value='' selected=!buyer.buyer_salestype) Select
                       for salestype in salestypes
                        option(value=salestype.option selected=salestype.option === buyer.buyer_salestype) #{salestype.value}

                //- Alternative Earnest Money Deadline

                //- Title
                //-   Record Title Deadline
                //-   Record Title Objection Deadline
                //-   Off-Record Title Deadline
                //-   Off-Record Title Objection Deadline
                //-   Title Resolution Deadline
                //-   Right of First Refusal Deadline

                //- Owners' Association
                //-   Association Documents Deadline
                //-   Association Documents Objection Deadline

                //- Seller's Property Disclosure
                //-   Seller's Property Disclosure Deadline

                //- Loan
                //-   Loan Application Deadline
                //-   Loan Objection Deadline

                //- Appraisal
                //-   Appraisal Deadline
                //-   Appraisal Objection Deadline
                //-   Appraisal Resolution Deadline

                //- Survey
                //-   New ILC or New Survey Deadline
                //-   New ILC or New Survey Objection Deadline
                //-   New ILC or New Survey Resolution Deadline

                //- Inspection and Due Diligence
                //-   Inspection Objection Deadline
                //-   Inspection Resolution Deadline
                //-   Property Insurance Objection Deadline
                //-   Due Diligence Documents Delivery Deadline
                //-   Due Diligence Documents Objection Deadline
                //-   Due Diligence Documents Resolution Deadline
                //-   Conditional Sale Deadline

                //- Closing and Possession
                //-   Closing Date
                //-   Possession Date

                //- Alternative Earnest Money Deadline
                //- Record Title Deadline

            //- #tabNotes.tab-pane.fade
            //-   .row
            //-     .col-sm-12
            //-       table.table.table-striped
            //-         thead
            //-           tr
            //-             th.lb-sm Notes
            //-             th.lb-sm Added
            //-             th.lb-sm Action
            //-         tbody
            //-           tr
            //-             td (todo) Need to talk to them about painting the bedroom another color. It is not that attractive.
            //-             td 10/17/2017
            //-             td 
            //-               a(href='#') Edit
            //-           tr
            //-             td (done) Garage door needs to be replaced too. Buyer just backed into it. What an idiot!
            //-             td 10/23/2017
            //-             td 
            //-               a(href='#') Edit

        .row
          .col-sm-12.text-center
            br
            iframe(width='95%', height='250', frameborder='0', style='border:0', src='//www.google.com/maps/embed/v1/place?key=AIzaSyAlrNTZfuAAD045rGGlOzVbj-GhwcEjm_M&q='+mapaddress, allowfullscreen='')

  .col-md-1
  .col-md-7
    .row
      .board
        .board-inner
          ul#tabgroup2.nav.nav-tabs
            .liner
            li.active
              a(href='#doctab1', data-toggle='tab', title='doctab1')
                span.round-tabs.two
                  | Pending 
                  //- span.label.label-primary 25%
            li
              a(href='#doctab2', data-toggle='tab', title='doctab2')
                span.round-tabs.three
                  | Title Company 
                  //- span.label.label-primary 65%
            li
              a(href='#doctab3', data-toggle='tab', title='doctab3')
                span.round-tabs.four
                  | Misc. 
                  //- span.label.label-default

            li(style='float:right;')
              button.btn.btn-danger.disabled(name='buyer_submit', type='submit')
                  i.fa.fa-hand-pointer-o
                  | Contract terminated on 11/02/2018

        .tab-content

          #doctab1.tab-pane.fade.active.in
            table#docspendingTable.table.table-striped.table-no-bordered(data-toggle='table', data-pagination='true', data-search='true', data-show-refresh='true', data-show-toggle='true', <='', body='', data-show-columns='true')
              thead
                tr 
                  th(data-field='Documents', data-sortable='true') Documents
                  th(data-field='UploadedOn', data-sortable='false') Uploaded On
                  th(data-field='Attachments', data-sortable='false') Attachments
                  th.text-center(data-field='Action', data-sortable='false') Action
              tbody
                each doc in docspending
                  tr.small
                    td= doc.value
                    td 10/15/2017
                    td 
                      img(src='https://www.santacruzpl.org/media/img/site/icons/sm_pdf.png')
                      img(src='https://www.santacruzpl.org/media/img/site/icons/sm_pdf.png')
                    td
                      a(href='#') Upload
            button.btn.btn-danger.btn-cons(type='button') Terminate Current Contract

          #doctab2.tab-pane.fade
            table#docstitlecompanyTable.table.table-striped.table-no-bordered(data-toggle='table', data-pagination='true', data-search='true', data-show-refresh='true', data-show-toggle='true', <='', body='', data-show-columns='true')
              thead
                tr 
                  th(data-field='Documents', data-sortable='true') Documents
                  th(data-field='UploadedOn', data-sortable='false') Uploaded On
                  th(data-field='Attachments', data-sortable='false') Attachments
                  th.text-center(data-field='Action', data-sortable='false') Action
              tbody
                each doc in docstitlecompany
                  tr.small
                    td= doc.value
                    td 10/15/2017
                    td 
                      img(src='https://www.santacruzpl.org/media/img/site/icons/sm_pdf.png')
                      img(src='https://www.santacruzpl.org/media/img/site/icons/sm_pdf.png')
                    td
                      a(href='#') Upload

          #doctab3.tab-pane.fade
            table#docsmiscTable.table.table-striped.table-no-bordered(data-toggle='table', data-pagination='true', data-search='true', data-show-refresh='true', data-show-toggle='true', <='', body='', data-show-columns='true')
              thead
                tr
                  th(data-field='Documents', data-sortable='true') Documents
                  th(data-field='UploadedOn', data-sortable='false') Uploaded On
                  th(data-field='Attachments', data-sortable='false') Attachments
                  th.text-center(data-field='Action', data-sortable='false') Action
              tbody
                each doc in docsmisc
                  tr.small
                    td= doc.value
                    td 10/15/2017
                    td 
                      img(src='https://www.santacruzpl.org/media/img/site/icons/sm_pdf.png')
                      img(src='https://www.santacruzpl.org/media/img/site/icons/sm_pdf.png')
                    td
                      a(href='#') Upload

  //- div
  //-   if process.env.DEBUG= true
  //-     code.formattedDebug= mapaddress