extends layout

block content
  .page-header
    h2= title

    //- .col-sm-1

    .col-md-12
      div(class='container')
      table#buyersTable.table.table-striped.table-no-bordered(
        data-toggle='table', 
        data-pagination='true', 
        data-search='true', 
        data-show-refresh='false', 
        data-show-toggle='true', 
        data-show-columns='true', 
        data-page-size="50", 
        data-page-list='[50, 75, 100, 200, 300, 500]'
      )
        thead
          tr
            th.fit.text-center(data-field='buyer_star', data-sortable='true') Fave
            th(data-field='buyer_address', data-sortable='true') Property Address
            th(data-field='buyer_city', data-sortable='true') City
            th.text-center(data-field='buyer_state', data-sortable='true') State/Province/Region
            th.text-center(data-field='buyer_zip', data-sortable='true') ZIP/Postal Code
            th.text-left(data-field='buyer_clientIDs', data-sortable='true') Client
            th.text-center(data-field='updatedAt', data-sortable='true') Updated On
            th.fit.text-center(data-field='Action', data-sortable='false') Buyer Actions

        tbody
          each buyer in buyers
            //- if buyer.buyer_notifications == true
              //- tr.success
            //- else

            tr
              td.fit.text-center
                if buyer.buyer_star == true
                  i.fa.fa-star.fa-lg(name='buyerStar_' + buyer._id, value='buyer,' + buyer._id, onclick='toggleStar(this)')
                else
                  i.fa.fa-star-o.fa-lg(name='buyerStar_' + buyer._id, value='buyer,' + buyer._id, onclick='toggleStar(this)')
              td= buyer.buyer_address
              td= buyer.buyer_city
              td.text-center= buyer.buyer_state
              td.text-center= buyer.buyer_zip
              td.text-left
                each client in buyer.clients_assigned
                  = client.client_firstname + ' ' + client.client_lastname
                  br
                  //- div
                  //-   if process.env.DEBUG= true
                  //-     code.formattedDebug= client.client_firstname
              td.text-center #{moment(buyer.updatedAt).format('MM/DD/YYYY')}
              td.fit.text-center
                a.btn.btn-success.btn-space(href='/buyer/' + buyer._id)
                  i.fa.fa-pencil
                  | Edit
                a.btn.btn-success.btn-space(href='/buyer/docs/' + buyer._id)
                  i.fa.fa-file-text
                  | Docs
                button.btn.btn-danger(type="button", data-href='/buyers/' + buyer._id, data-toggle='modal', data-target='#confirm-delete')
                  i.fa.fa-trash
                  | Delete

        #confirm-delete.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog
            .modal-content
              .modal-header.h4
                | Please confirm!
              .modal-body
                | You are about to delete this buyer record.
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Cancel
                a.btn.btn-danger.btn-ok
                  i.fa.fa-trash
                  | Delete

    //- .col-sm-1