extends layout

block content
  .page-header
    h3= title

    div(class='container')
    table#clientsTable.table.table-striped.table-no-bordered(data-toggle='table', data-pagination='true', data-search='true', data-show-refresh='true', data-show-toggle='true', <='', body='', data-show-columns='true')
      thead
        tr 
          th(data-field='client_firstname', data-sortable='true') Full Name
          th(data-field='client_email', data-sortable='false') Email
          th(data-field='client_homephone', data-sortable='false') Home Phone
          th(data-field='client_cellphone', data-sortable='false') Cell Phone
          th(data-field='client_address', data-sortable='false') Address  
          //- th(data-field='createdAt', data-sortable='true') Created
          th(data-field='updatedAt', data-sortable='true') Updated
          th.text-center(data-field='Action', data-sortable='false') Action

      tbody
        each client in clients
          if client.client_notifications == true
            tr.success
          else
            tr.small
              td= client.client_lastname + ', ' + client.client_firstname
              td
                a(href=client.client_email)= client.client_email
              td= client.client_homephone
              td= client.client_cellphone
              td= client.client_address + ', ' + client.client_city + ', ' + client.client_state + ' ' + client.client_zip
              //- td #{moment(client.createdAt).format('MM/DD/YYYY')}
              td #{moment(client.updatedAt).format('MM/DD/YYYY')}
              td
                a(href='/client/' + client._id)= post
                  button(type="button") Edit
                button(type="button", data-href='/clients/' + client._id, data-toggle='modal', data-target='#confirm-delete') Delete

      #confirm-delete.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header.h4
              | Please confirm!
            .modal-body
              | You are about to delete this client record.
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Cancel
              a.btn.btn-danger.btn-ok Delete

