extends layout

block content
  .page-header
    h3= title

    div(class='container')
    table#usersTable.table.table-no-bordered(data-toggle='table', data-pagination='true', data-search='true', data-show-refresh='true', data-show-toggle='true', <='', body='', data-show-columns='true')
      thead
        tr 
          th Name
          th Email
          th Location
          th Gender
          th Website
          th Created
          th Updated
          th 
      tbody
        each user in users
          tr
              td= user.profile.name
              td= user.email
              td= user.profile.location
              td= user.profile.gender
              td
                a(href=user.profile.website)= user.profile.website
              td #{moment(user.createdAt).format('MM/DD/YYYY')}
              td #{moment(user.updatedAt).format('MM/DD/YYYY')}
              td
                a(href='/users/' + user._id)= post
                  button(type="button") Edit
                  